html {
  font-size: 18px;
}

p {
  line-height: 1.6rem;
  margin: 2rem 0;
  transition: background-color 0.5s ease;
  padding: 0.5rem;
  border-radius: 5px;
}

main {
  margin: 0 auto;
  max-width: 800px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.timer {
  display: block;
  text-align: right;
  font-size: 0.7rem;
}

p.active {
  background-color: rgba(176, 190, 197, 1);
}
p.inactive {
  background-color: white;
}
